* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:  system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  background-image: url("background.jpg");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  color: #d5e1df;
}

header {
  position: absolute;
  top: 0;
  padding: 0.5rem 1rem;
  background-color: #262626a5;
  font-size: 1.2rem;
  border: solid .125rem #070606;
  margin: 1.25rem auto;
  border-radius: 0.3125rem;
  text-wrap:balance
}

main {
  background-color: #262626a5;
  width: 34.375rem;
  padding: 3.125rem 2.5rem;
  box-shadow: 0 0 0.625rem #000;
  font-size: 1.5rem;
  line-height: 1.5;
  position: relative;
  isolation: isolate;
}

main::before {
  content: "\201C";
  font-family: cursive;
  color: #7978788b;
  /* height: 100%; */
  font-size: 35rem;
  position: absolute;
  top: -13rem;
  left: 0;
  z-index: -1;
}

.quote {
  color: #fff;
}

.person {
  font-size: 1.6rem;
  color: #86af49;
  text-transform: uppercase;
  margin-top: 1.25rem;
}

.profession {
  display: block;
  color: #e3eaa7;
  font-size: 0.9rem;
  text-transform: capitalize;
  margin-top: -0.5rem;
}

button {
  background: #00b09b;
  background: linear-gradient(to right, #96c93d, #00b09b);
  background: -webkit-linear-gradient(to right, #96c93d, #00b09b);

  color: #fff;
  cursor: pointer;
  font-size: 1.3rem;
  padding: 0.625rem 0.9375rem;
  margin-top: 1.25rem;
  border-radius: 0.3125rem;
  width: 70%;
}

button:active {
  background: #00b09b;
  color: #171d20;
}
